*{
margin: 0;
padding: 0;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar{
  
  background-color: crimson;
  list-style: none;
  display:flex;
  width: 100%;
}
.navbar .notify{
  display: inline-flex;
  background-color:  rgb(97, 5, 23);
  color: white;
  border-radius: 100%;
  margin-bottom: auto;
  margin-top: 0px;
  padding: 2px;
  font-size: 0.95rem;

}
.navbar ul{
  align-items: center;
  align-content: center;
  color: azure;
  display:inline-block;
  margin: 20px;
  cursor: pointer;
}

.navbar ul:hover{
  color: rgba(240, 255, 255, 0.856);
}
.navbar ul span{
  font-size: larger;
}
.navbar ul span:hover{
  color: azure;
}
.navbar button{
  display:flex;

  justify-content: right;
  background-color: rgb(97, 5, 23);
  color: #FFF;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  padding: 5px;
  height: 2rem;
  
  margin-top: auto;
  margin-bottom: auto;
}
  


.card1{
  border: 1px solid black;
  
  border-radius: 5px;
  margin: 30px;
  display: inline-block;
  
  
  
  
  
}
.card1 .img1{

  display: inline;
  height: 30vh;
  width: 37vh;
  
}

.card1 .img2{
  display: inline;
  height: 30vh;
  width: 37vh;
}
.card1 .img3{
  display: inline;
  height: 30vh;
  width: 37vh;
}
.card1 button{
  color: white;
  background-color: crimson;
  margin: 10px;
  padding: 8px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.card1 button:hover{
  background-color: rgb(97, 5, 23);

}
.card .func{
  display: inline-flex;
}
.func h1{
  margin-top: 7px;
  
}
.details{
  
  background-color: #e7e7e7;
  
  
}

.details h1{

  padding-top: 6vh;
  
}

.details1 .detailsimg{
  width: 40%;
  height: auto;
  margin-bottom: 10vh;
  margin-top: 5vh;
  display: flex;
  box-shadow: inset -350px 0 100px 0 #FFF;
  background-image: url("https://images.unsplash.com/photo-1565299624946-b28f40a0ae38?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Nnx8fGVufDB8fHx8&w=1000&q=80");
}

.details1{
  display: flex;
  align-items: center;
  justify-content:space-evenly;
 
  text-align: centert;
  flex-direction: row;
  

}
.details2{
  text-align: left;
}
.details2 button{
  color: white;
  background-color: crimson;
  margin-top: 10px;
  padding: 8px;
  border: none;
  border-radius: 3px;
  cursor: pointer;

}
.details2 button:hover{
  background-color: rgb(97, 5, 23);
}
.footer1{
  background-color: crimson;
  width: 100%;
  height: auto;
  color: white;
  display: flex;
  
}
.footer1 li {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin-top: 3.3rem;
  
}
.footer1 li ul{
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
  margin-left: 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}
.footer1 li ul:hover{
  color: rgba(255, 255, 255, 0.836);
  font-size: 1.8rem;
}
.footer1 h1{
  margin-top: 3rem;
  margin-left: 5%;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}
.footer2{
  background-color: crimson;
  width: 100%;
  height: auto;
  color: white;
  display: flex;
  justify-content:space-evenly;
  justify-items:end;
  flex-direction: row;
  list-style: none;
  padding-bottom: 3rem;
  margin-right: 3rem;
  
  
  
  
  
}
.footer2 li{
  margin-left: 2rem;
  
  display: flex;
  flex-direction: column;
  text-align: left;
  cursor: pointer;


}
.footer2 li ul:hover{
  color: rgb(196, 196, 196);
}
.footer2 li ul:nth-child(1){
  margin-bottom: 1rem;
  color: #e9e2e2;

}

.mycart1 .delete{
  background-color: crimson;
  color: white;
  border-radius: 8px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 8px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.mycart1 .delete:hover{
  background-color: rgb(97, 5, 23);

}
.mycart {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.dna{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  justify-content:center;
  margin-top: 45vh;
  
}
.dnah1 h1{
  color: crimson;

  
}